html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	background: #111;
	overscroll-behavior: contain;
}
#cv {
	position:relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#cv canvas {
    object-fit: contain;
	object-position: center;
	max-width: 97%;
    max-height: 97%;
}
